{% extends 'authapp/base.html' %}
{% load static %}

{% block content %}
<div class="limiter">
	<div class="container-login100" style="background-image: linear-gradient(rgba(10, 0, 39, 0.938), rgba(255, 202, 202, 0.87)), url(https://azermstorage.blob.core.windows.net/appimages/bdp.png); background-repeat: repeat-y; background-size: 100%;">
		<div class="wrap-login100 p-l-25 p-r-25 p-t-55 p-b-24" style=" background-image: linear-gradient(rgba(255, 255, 255, 0.911), rgba(252, 252, 252, 0.938)), url(https://azermstorage.blob.core.windows.net/appimages/bdp.png); background-repeat: repeat-y; background-size: 100%; border-radius: 50px;">
			<form class="login100-form validate-form" method="POST">
				{% csrf_token %}
				<div style="text-align: center; justify-content: center;">
					<img style=" align-self: center; height: 79px; width: 73px;" src="https://azermstorage.blob.core.windows.net/appimages/sterlingbig.png" alt="logo" class="logo">
					<h1 style="font-family: 'Playfair Display', sans-serif; text-align: center; color: rgb(0, 0, 0); text-shadow: 1px 2px 3px #ffffff; font-size:5vw; font-weight: normal;">     Sterling Wiki</h1>
					<b style="font-family: 'Playfair Display', sans-serif; text-align: center; color: rgb(0, 0, 0); text-shadow: 1px 2px 3px #ffffff;"> (A Project Prototype)</b>
		
				</div>

				<br> 
				
				<br> <br>
				<div class="wrap-input100 validate-input m-b-23" data-validate = "Email is reauired">
					<span class="label-input100"> <b> First Name</b></span>
					<!-- <input class="input100" type="email" name="email" placeholder="Type your email"> -->
					{{ form.firstname }}
					<span class="focus-input100" data-symbol="&#xf206;"></span>
				</div>

				<div class="wrap-input100 validate-input m-b-23" data-validate = "Email is reauired">
					<span class="label-input100"> <b> Last Name </b></span>
					<!-- <input class="input100" type="email" name="email" placeholder="Type your email"> -->
					{{ form.lastname }}
					<span class="focus-input100" data-symbol="&#xf206;"></span>
				</div>

				<div class="wrap-input100 validate-input m-b-23" data-validate = "Email is reauired">
					<span class="label-input100"> <b> Email </b></span>
					<!-- <input class="input100" type="email" name="email" placeholder="Type your email"> -->
					{{ form.email }}
					<span class="focus-input100" data-symbol="&#xf206;"></span>
				</div>

				<div class="wrap-input100 validate-input m-b-23" data-validate = "Username is reauired">
					{% if error %}
						<p style="color: red;">{{ error }}</p>
					{% endif %}
					<span class="label-input100"><b> Username</b></span>
					<!-- <input class="input100" type="text" name="username" placeholder="Type your username"> -->
					{{ form.username }}
					<span class="focus-input100" data-symbol="&#xf206;"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate="Password is required">
					<span class="label-input100"> <b>Password</b> </span>
					<!-- <input class="input100" type="password" name="pass" placeholder="Type your password"> -->
					{{ form.password }}
					<span class="focus-input100" data-symbol="&#xf190;"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate="Password is required">
					<span class="label-input100"> <b>Confirm Password</b> </span>
					<!-- <input class="input100" type="password" name="conf-pass" placeholder="Type your password again"> -->
					{{ form.confirm_password }}
					<span class="focus-input100" data-symbol="&#xf190;"></span>
				</div>
				
				<!-- <div class="text-right p-t-8 p-b-31">
					<a href="#">
						Forgot password?
					</a>
				</div> -->
				<div class="text-right p-t-8 p-b-31"></div>
				
				<div class="container-login100-form-btn">
					<div class="wrap-login100-form-btn">
						<div class="login100-form-bgbtn"></div>
						<button class="login100-form-btn">
							Create
						</button>
					</div>
				</div>
				<div class="flex-col-c p-t-20">
					
					<br>
						<p>  <b> Or Login Here </b> <a href="{% url 'authapp:signin' %}"  style="color: red; padding: 4px;" class="txt2">
						<b style="color: rgb(253, 0, 0);
						text-shadow: 0.8px 0.8px 0.8px  #000000;">	Login</b>
						</a> </p>
						<br>
						<br><b style="font-family: 'Poppins', sans-serif; font-size: x-small;"> Powered by</b>  <img  style="   height: 30px; width: 55x;" src="https://azermstorage.blob.core.windows.net/appimages/dataoffice2.png" alt="logo">
				
					
				</div>
			</form>
		</div>
	</div>
</div>


<div id="dropDownSelect1"></div>
{% endblock %}